*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    background-color: rgb(96, 133, 151);
    background: url(./time.PNG);
    background-repeat: no-repeat;
   
    background-size: cover;
    padding: 0;

}
h1{
    margin-bottom: 2rem;
}
input,button{
outline: none;
border: none;
font-family: inherit;
padding: 10px 20px;
border-radius: 5px;
background-color: #f1f1f1;
font-weight: 600px;
cursor: pointer;
transition: all 0.3s ease;
margin-bottom: 1rem;
&:hover{
    background-color: #6b6969;
}
}
.container{
max-width: 900px;
margin: 0 auto;
}
.task-item{
    max-width: 260px;
    height: 25px;
    margin: 5px 0;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0,0,0.2);
    cursor: pointer;
    padding-left: 10px;
    padding-top: 3px;
    animation: animateIn 0.3s ease;
}
@keyframes animateIn {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.completed{
    text-decoration: line-through;
    background-color: chartreuse;
}